<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <div horizontalswipe>
            <div class="horizontalSwipe">
                <div>
                    <span class="horizontalSwipeContainer">
                        <img src="/android_asset/www/img/page8/first.png" style="height:681px;">
                    </span>
                    <span class="horizontalSwipeContainer">
                        <img src="/android_asset/www/img/page8/second.png" style="height:681px;">
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>