<ion-view title="Page 1">
    <ion-nav-bar class="bar-terumo"></ion-nav-bar>
    <ion-content padding="true" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
        <p>First page brah</p>
        <button class="button button-positive" ng-click="goToGame('spin_game')">
            Go to Game!
        </button>
        <hr>
        <div class="sliderWrapper">
            <div class="sliderTable">
                <div class="sliderRow">
                    <div class="sliderCell">
                        <button class="button button-positive sliderButton" ng-click="previous()">Previous</button>
                    </div>
                    <div class="sliderCell">
                        <div class="slidebox-container">
                            <ion-slide-box ng-init="disableSwipe()">
                                <ion-slide style="background:#ee9900;">
                                    <p>First Slide</p>
                                </ion-slide>
                                <ion-slide style="background:#bada55;">
                                    <p>Second Slide</p>
                                </ion-slide>
                                <ion-slide style="background:#60d;">
                                    <p>Third Slide</p>
                                </ion-slide>
                            </ion-slide-box>
                        </div>
                    </div>
                    <div class="sliderCell">
                        <button class="button button-positive sliderButton" ng-click="next()">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <video customvideo style="display:none;"></video>
        <div class="loader">
            <h1 class="black">日本語</h1>
            <h1 class="bold">日本語</h1>
            <h1 class="demilight">日本語</h1>
            <h1 class="light">日本語</h1>
            <h1 class="medium">日本語</h1>
            <h1 class="regular">日本語</h1>
            <h1 class="thin">日本語</h1>
        </div>
    </ion-content>
</ion-view>