<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" scroll="false">
        <div class="vCarousel" on-swipe-up="swipeUp()" on-swipe-down="swipeDown()" verticalswipe>
            <div class="imgContainer">
                <img class="carouselImg" src="/android_asset/www/img/page7/slide_page1.png">
                <img class="carouselImg" src="/android_asset/www/img/page7/slide_page2.png">
                <img class="carouselImg" src="/android_asset/www/img/page7/slide_page3.png">
                <img class="carouselImg" src="/android_asset/www/img/page7/slide_page4.png">
            </div>
        </div>
        <div class="downClick" ng-click="$emit('swipeup')"></div>
        <div class="spacer">
            <div class="topSpacer"></div>
        </div>
    </ion-content>
</ion-view>