<ion-view>
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
        <div class="videoWrapper">
            <div class="video" customvideo>
                <div class="videoOverlay">
                    <div class="playButton">
                        <div class="arrow-right"></div>
                    </div>
                </div>
                <video>
                    <source src="/android_asset/www/img/terumo.mp4" />
                    <!--<source src="../img/terumo.mp4" />-->
                </video>
            </div>
            <div class="infoMessage">{{message}}</div>
        </div>
        <hr>
        <h1 class="black">日本語</h1>
        <hr>
        <h1 class="bold">日本語</h1>
        <hr>
        <h1 class="demilight">日本語</h1>
        <hr>
        <h1 class="light">日本語</h1>
        <hr>
        <h1 class="medium">日本語</h1>
        <hr>
        <h1 class="regular">日本語</h1>
        <hr>
        <h1 class="thin">日本語</h1>
    </ion-content>
</ion-view>