<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page17/diagram.png" style="height:681px;">
        <div textfadein>
            <div style="top:100px; left:225px; width:500px;" class="textbox">It takes only about one hour to make an apheresis donation.</div>
        </div>
    </ion-content>
</ion-view>