<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img src="/android_asset/www/img/page13/platelets.png" style="height:681px;">
        <strong style="position:absolute;font-size:4em;top:215px;left:375px;">Platelets</strong>
        <div class="containerInfoImg" style="width:485px;font-size:1.75em;top:275px;left:100px;">
            <div style="display: table;" textfadein>
                <div class="tableText" style="display: table-row">
                    <span style="width: 40px; display: table-cell;padding-top:20px;">
                            <i style="color:rgb(255,121,0);" class="fa fa-check"></i>
                        </span>
                    <div style="display: table-cell;">Cannot be replaced with a substitute</div>
                </div>
                <div class="tableText" style="display: table-row">
                    <span style="width: 40px; display: table-cell;padding-top:20px;">
                            <i style="color:rgb(255,121,0);" class="fa fa-check"></i>
                        </span>
                    <div style="display: table-cell;">Cannot be made artificially</div>
                </div>
                <div class="tableText" style="display: table-row">
                    <span style="width: 40px; display: table-cell;padding-top:20px;">
                            <i style="color:rgb(255,121,0);" class="fa fa-check"></i>
                        </span>
                    <div style="display: table-cell;">Are a small percentage of your whole blood</div>
                </div>
                <div class="tableText" style="display: table-row">
                    <span style="width: 40px; display: table-cell;padding-top:20px;">
                            <i style="color:rgb(255,121,0);" class="fa fa-check"></i>
                        </span>
                    <div style="display: table-cell;">Are collected using a special device that separates them from your other blood components during the donation procedure</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>