<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <div class="containerInfoImg" imgfadein>
            <img src="/android_asset/www/img/page3/blood_graph.png" style="height:681px;" class="imgFadeIn">
        </div>
        <div class="containerInfoImg" style="height:450px; width:450px;top:220px;right:102px;">
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
    </ion-content>
</ion-view>