<ion-view title="Page 2">
    <ion-nav-bar class="bar-terumo"></ion-nav-bar>
    <ion-content padding="true" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">
        <p>heyoooo</p>
        <button class="button button-positive" ng-click="goToGame('gem_game')">
            Go to Game!
        </button>
        <div class="monster"></div>
        <div class="videoWrapper">
            <div class="video" customvideo>
                <div class="videoOverlay">
                    <div class="playButton">
                        <div class="arrow-right"></div>
                    </div>
                </div>
                <video>
                    <source src="/android_asset/www/img/terumo.mp4" />
                    <!--<source src="../img/terumo.mp4" />-->
                </video>
            </div>
            <div class="infoMessage">{{message}}</div>
        </div>
    </ion-content>
</ion-view>