<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" style="height:681px;" src="/android_asset/www/img/page5/projected_population.png">
        <!--<div class="containerInfoImg" style="height:800px; width:800px;top:200px;right:0px;">
                    <canvas class="chart chart-line" chart-data="linedata" chart-labels="linelabels" chart-colours="colors"></canvas>
                </div>-->
        <div textfadein>
            <div style="bottom:60px; left:160px; width:375px;" class="textbox">Low birth rate and an aging population increase the demand for blood transfusions. Ensuring a stable supply of blood donors is a major challenge.</div>
            <div class="textbox" style="right:150px;bottom:50px;">
                <img src="/android_asset/www/img/page5/sad_people.png" style="height:100px;">
            </div>
        </div>
    </ion-content>
</ion-view>