<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page9/dude_chillin.png" style="height:681px;">
        <div textfadein>
            <div style="bottom:160px; left:240px; width:440px;" class="textbox">A whole blood donation is collected into a single collection bag with all of your blood components mixed together.</div>
        </div>
    </ion-content>
</ion-view>