<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page6/plus_dude.png" style="height:425px;top:-75px;">
        <div textfadein>
            <div style="bottom:80px; left:160px; width:375px;" class="textbox">When you donate blood, you contribute to a great need within society.</div>
            <div class="textbox" style="right:150px;bottom:50px;">
                <img src="/android_asset/www/img/page6/happy_people.png" style="height:100px;">
            </div>
        </div>
    </ion-content>
</ion-view>