<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page16/diagram.png" style="height:681px;">
        <div textfadein>
            <div style="top:100px; left:225px; width:500px;" class="textbox">The device takes only your platelets and some plasma. The rest of your blood is safely returned to your body.</div>
        </div>
    </ion-content>
</ion-view>