<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page18/diagram.png" style="height:681px;">
        <div textfadein>
            <div style="top:100px; left:225px; width:500px;" class="textbox">An apheresis donation requires very little processing. The platelets are screened and quickly sent to a patient in need.</div>
            <div style="top:240px; left:530px; width:190px;font-size:0.75em;" class="textbox">Apheresis donation is complete and goes to patient; WB donation goes to lab and filtering, then to patient.</div>
        </div>
    </ion-content>
</ion-view>