<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page22/terucolo.png" style="height:681px;">
        <img src="/android_asset/www/img/page22/quote.png" style="position:absolute; height:250px; top:150px; left:110px;">
        <div style="position:absolute; top:150px; left:110px; height:250px; width:380px; padding:4%; font-size:2.5em; font-weight:bold; line-height:35px;">Will you become an important part of this elite group of platelet donors?</div>
        <img ng-click="$emit('nextpage');" src="/android_asset/www/img/page22/ready.png" style="position:absolute; height:110px; bottom:80px; left:50%; transform:translateX(-50%);">
    </ion-content>
</ion-view>