<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page23/games.png" style="height:681px;">
        <div style="font-size:2em;top:120px;font-weight:bold;width:575px;line-height:30px;" class="centerText">
            Now you know a lot about donating blood. Show your skills in our games!
        </div>
        <img class="gameImg" style="left:100px;" src="/android_asset/www/img/page23/play.png">
        <img class="gameImg" style="left:525px;" src="/android_asset/www/img/page23/play.png">
    </ion-content>
</ion-view>