<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page11/blood_bags.png" style="height:681px;">
        <div textfadein>
            <div style="bottom:130px; left:230px; width:425px;" class="textbox"><strong>A typical first-time whole blood donation is less than 200 mL.</strong> A whole blood donation from a repeat donor is typically 400 mL, which can help reduce a patient’s exposure to multiple donors.</div>
        </div>
    </ion-content>
</ion-view>