<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <img class="containerInfoImg" src="/android_asset/www/img/page12/platelets.png" style="height:681px;">
        <div textfadein>
            <div style="bottom:180px; left:260px; width:500px;" class="textbox"><strong style="font-size:1.25em;">Some patients only need platelets.</strong></div>
        </div>
    </ion-content>
</ion-view>