<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <div class="containerInfoImg" style="height:550px;width:670px;" imgfadein>
            <div>
                <img src="/android_asset/www/img/page4/platelets.png" style="height:325px;" class="imgFadeIn">
                <img src="/android_asset/www/img/page4/rbcs.png" style="height:325px;" class="imgFadeIn">
                <img src="/android_asset/www/img/page4/plasma.png" style="height:325px;" class="imgFadeIn">
            </div>
            <div>
                <img src="/android_asset/www/img/page4/plus.png" style="height:225px; display:block; margin:auto; margin-top:-8px;" class="imgFadeIn">
                <!--<img src="/android_asset/www/img/whole_blood.png" style="height:550px;">-->
            </div>
        </div>
    </ion-content>
</ion-view>