<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <div horizontalswipe>
            <div class="horizontalSwipe">
                <div>
                    <span class="horizontalSwipeContainer">
                        <img src="/android_asset/www/img/page10/hospital.png" style="height:681px;">
                    </span>
                    <span class="horizontalSwipeContainer">
                        <img src="/android_asset/www/img/page10/spinny_thing.png" style="height:681px;">
                    </span>
                    <span class="horizontalSwipeContainer">
                        <img src="/android_asset/www/img/page10/hospital_beds.png" style="height:681px;">
                    </span>
                </div>
            </div>
        </div>
        <div textfadein>
            <div style="bottom:180px; left:260px; width:440px;" class="textbox">It is then sent to a lab where it is filtered, centrifuged and separated into red blood cells and plasma for transfusion into patients. </div>
        </div>
    </ion-content>
</ion-view>