<ion-view cache-view="false">
    <ion-content on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()" scroll="false">
        <div class="fadeIn" ng-class="{'showText': blarg}">
            <img src="/android_asset/www/img/page20/dp5.png" style="height:681px;">
            <p style="position:absolute; left: 265px; top: 160px; width:475px; font-size:1.5em;">The device’s draw and return cycles happen about once every 90 seconds. This process will repeat until a full platelet unit is collected.</p>
        </div>
        <div horizontalswipe>
            <div>
                <div>
                    <!--during-->
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page19/bp1.png" style="height:681px;">
                        <p style="position:absolute; left: 290px; top: 175px; width:420px; font-size:1.75em;">Nurse carefully inspects and loads a tubing set on the device. The tubing set is self-contained, sterile and safe.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page19/bp2.png" style="height:681px;">
                        <p style="position:absolute; left: 260px; top: 160px; width:500px; font-size:1.75em;">The kit is primed with anticoagulant as you donate.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page19/bp3.png" style="height:681px;">
                        <p style="position:absolute; left: 260px; top: 160px; width:500px; font-size:1.75em;">A nurse inserts a special apheresis needle. It is normal to be a little nervous when you donate platelets the first time. It is a special and different process.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page19/bp4.png" style="height:681px;">
                        <p style="position:absolute; left: 260px; top: 160px; width:500px; font-size:1.75em;">The nurse will collect a small amount of blood for testing. Once finished, the nurse will press the start button and the collection begins.</p>
                    </span>
                    <!--after-->
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page20/dp1.png" style="height:681px;">
                        <p style="position:absolute; left: 265px; top: 160px; width:475px; font-size:1.5em;">Draw Cycle: your blood will be drawn out for a few minutes during the draw cycle. To keep things going smoothly, the nurse may ask you to move your hand or squeeze a ball.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page20/dp2.png" style="height:681px;">
                        <p style="position:absolute; left: 265px; top: 160px; width:475px; font-size:1.5em;">The volume of blood product that is drawn out is less than a whole blood donation. Relax and take time to read, check email or watch television.</p>
                        <p style="position:absolute; left: 290px; top: 540px; width:475px; color:#fff; font-size:0.75em;line-height:15px;">Anticoagulant is added to ensure that your blood flows easily through the system. Most of this anticoagulant ends up in the collection bags. A small amount is returned to you with your blood during each return cycle; this is completely safe.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page20/dp3.png" style="height:681px;">
                        <p style="position:absolute; left: 265px; top: 160px; width:475px; font-size:1.5em;">Return Cycle: after about 5 minutes, the system will begin returning your blood. Your blood might feel a little bit cooler as it comes back into your body. This is normal and safe. The return cycle lasts about 20 seconds.</p>
                    </span>
                    <span class="fadeIn">
                        <p style="position:absolute; left: 290px; top: 540px; width:475px; color:#fff; font-size:0.75em;line-height:15px;">Other devices have longer draw and return cycles. It is only a difference in technology. There are many detailed algorithms managing the collection to make sure blood is safely collected and returned.</p>
                    </span>
                    <span class="fadeIn">
                      <p style="position:absolute; left: 290px; top: 530px; width:475px; color:#fff; font-size:0.75em;line-height:15px;">You may notice the anticoagulant, depending on your height, weight and diet. Your body quickly metabolizes the anticoagulant during the collection. The device carefully monitors the amount of anticoagulant. After your donation, your body quickly metabolizes any remaining anticoagulant in your body. Any residual feeling from the anticoagulant will likely be gone before you leave the blood center.</p>
                    </span>
                    <span class="fadeIn">
                        <p style="position:absolute; left: 290px; top: 530px; width:475px; color:#fff; font-size:0.75em;line-height:15px;">You may notice the anticoagulant, depending on your height, weight and diet. Your body quickly metabolizes the anticoagulant during the collection. The device carefully monitors the amount of anticoagulant. After your donation, your body quickly metabolizes any remaining anticoagulant in your body. Any residual feeling from the anticoagulant will likely be gone before you leave the blood center.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page20/dp7.png" style="height:681px;">
                        <p style="position:absolute; left: 265px; top: 160px; width:475px; font-size:1.5em;">After about one hour, you are all finished. The nurse will remove the needle and provide a drink and snack.</p>
                    </span>
                    <span class="fadeIn">
                        <img src="/android_asset/www/img/page20/dp8.png" style="position:absolute;height:681px;">
                        <p style="position:absolute; left: 270px; top: 265px; width:550px; line-height:50px; font-size:3.25em;">You can donate platelets about once per month, so come back often to help again.</p>
                    </span>
                </div>
            </div>
        </div>


        <div class="numberPagerContainer" ng-class="{'customHide':masterObj['page'+currentView].swipeCount===11}">
            <span ng-hide="masterObj['page'+currentView].swipeCount>3" style="font-size:2.25em">Apheresis: <strong style="color:rgb(68,126,188);">Before Procedure</strong></span>
            <span ng-show="masterObj['page'+currentView].swipeCount>3" style="font-size:2.25em">Apheresis: <strong style="color:rgb(171, 103, 186)">During Procedure</strong></span>
            <div class="numberPager">
                <div class="number" ng-click="numberClick(0)" ng-class="{'activeBlue':masterObj['page'+currentView].swipeCount===0,'expired':masterObj['page'+currentView].swipeCount>0}">1</div>
                <div class="number" ng-click="numberClick(1)" ng-class="{'activeBlue':masterObj['page'+currentView].swipeCount===1,'expired':masterObj['page'+currentView].swipeCount>1}">2</div>
                <div class="number" ng-click="numberClick(2)" ng-class="{'activeBlue':masterObj['page'+currentView].swipeCount===2,'expired':masterObj['page'+currentView].swipeCount>2}">3</div>
                <div class="number" ng-click="numberClick(3)" ng-class="{'activeBlue':masterObj['page'+currentView].swipeCount===3,'expired':masterObj['page'+currentView].swipeCount>3}">4</div>
                <div class="number" style="background: #fff;color:#000;font-size: 3.5em;line-height: 18px;padding:10px 0px;">/</div>
                <div class="number" ng-click="numberClick(4)" ng-class="{'activePurple':masterObj['page'+currentView].swipeCount>=4 && masterObj['page'+currentView].swipeCount<=5,'expired':masterObj['page'+currentView].swipeCount>5}">5</div>
                <div class="number" ng-click="numberClick(6)" ng-class="{'activePurple':masterObj['page'+currentView].swipeCount>=6 && masterObj['page'+currentView].swipeCount<=9,'expired':masterObj['page'+currentView].swipeCount>9}">6</div>
                <div class="number" ng-click="numberClick(10)" ng-class="{'activePurple':masterObj['page'+currentView].swipeCount===10,'expired':masterObj['page'+currentView].swipeCount>10}">7</div>
            </div>
        </div>
    </ion-content>
</ion-view>