<ion-view>
    <ion-content>
        <button class="button button-positive backButton" ng-click="backToApp(2)">
            Back to App!
        </button>
        <iframe src="/android_asset/www/spin_game/game/index.html" game></iframe>
        <!--<iframe src="../spin_game/game/index.html" game></iframe>-->
    </ion-content>
</ion-view>