<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/font-awesome-4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/angular-chart.js/dist/angular-chart.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/Chart.js/Chart.js"></script>
    <script src="lib/angular-chart.js/dist/angular-chart.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <!--Controllers-->
    <script src="js/controllers.js"></script>

    <!--Directives-->
    <script src="js/directives.js"></script>
</head>

<body ng-app="donorApp" ng-controller="appController">
    <div class="container" ng-class="{'containerHide': showContainer}">
        <ion-nav-view></ion-nav-view>
    </div>

    <img ng-src="{{showLogo}}" class="logo" ng-class="{'showImg': showLogo}">

    <div class="popupInfo" popup ng-class="{'popupShow': showPopupOnPage}">
        <img src="/android_asset/www/img/popup_top.png">
        <div class="popupInfoContent">
            {{popupMessage}}
        </div>
        <div class="hideButton" ng-click="showPopupOnPage=false">
            hide
            <i class="fa fa-times"></i>
        </div>
        <img src="/android_asset/www/img/popup_bottom.png">
    </div>

    <!--<div class="ryu" ng-class="{'rewind':rewind,'fwd':!rewind}" ng-click="rewind=!rewind"></div>-->

    <div class="widePopup" widepopup ng-class="{'popupShow': currentView===14 && masterObj['page14'].swipeCount===1}">
        <div class="inlinePopup">
            <img src="/android_asset/www/img/page14/popup_left.png">
        </div>
        <div class="inlinePopupContent">
            <div style="font-size:2.5em;padding: 30px 0;line-height:30px;"><strong>A platelet donation</strong> is very special.</div>
            <img style="height:200px;width:300px;" src="/android_asset/www/img/page14/microscope.png">
            <div style="font-size:1.5em;padding: 30px 0">Platelets are small and have a very short shelf life of just 4 days. It would take several whole blood donations and a lot of processing time to gather enough platelets to help just one patient.</div>
        </div>
        <div class="hideButton" style="right:50px;">
            hide
            <i class="fa fa-times"></i>
        </div>
        <div class="inlinePopup">
            <img src="/android_asset/www/img/page14/popup_right.png">
        </div>
    </div>

    <div class="footerPager" ng-class="{'customHide': showPage}">
        <i ng-repeat="(v,i) in masterObj" ng-class="{'iconActive': v==='page'+currentView}" class="fa fa-{{i.icon}} pagerIcon {{i.icon}}Icon"></i>
    </div>
    <div class="sidebarImg" ng-class="{'customHide': showTerucolo}">
        <div class="terucolo"></div>
    </div>
</body>

</html>