html,
body {
    font-family: "NotoSansRegular";
    height: 100%;
    width: 100%;
}


/*assign the background img*/

body {
    background: url("../img/Donor-App-BG.gif");
    background-size: 100% 768px;
    background-repeat: no-repeat;
    background-position: center top;
}


/*make the view containers transparent to see the background img*/

body .view-container.tab-content {
    background-color: transparent;
}

body .pane,
.menu,
.view,
.list,
.item {
    background: transparent;
}

[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent;
}

.ryu {
    width: 435px;
    height: 267px;
    position: absolute;
    right: 100px;
    top: 100px;
    background: url('../img/ryu.png') no-repeat 0 0%;
    z-index: 2000;
}

.fwd {
    -webkit-animation: fwd 3.5s steps(45);
}

.rewind {
    -webkit-animation: rewind 3.5s steps(45);
}

@-webkit-keyframes fwd {
    from {
        background-position: 0 0%;
    }
    to {
        background-position: 0 100%;
    }
}

@-webkit-keyframes rewind {
    from {
        background-position: 0 100%;
    }
    to {
        background-position: 0 0%;
    }
}


/*fonts*/

.black {
    font-family: "NotoSansBlack";
    font-size: 100px;
}

.bold {
    font-family: "NotoSansBold";
    font-size: 100px;
}

.demilight {
    font-family: "NotoSansDemiLight";
    font-size: 100px;
}

.light {
    font-family: "NotoSansLight";
    font-size: 100px;
}

.medium {
    font-family: "NotoSansMedium";
    font-size: 100px;
}

.regular {
    font-family: "NotoSansRegular";
    font-size: 100px;
}

.thin {
    font-family: "NotoSansThin";
    font-size: 100px;
}

.tableText {
    opacity: 0;
    transition: all 3s;
}


/*loader for font*/

.loader {
    display: block;
    line-height: 0;
    height: 0;
    overflow: hidden;
}


/*spacer for bottom (on star pages)*/

.spacer {
    height: 60px;
    background: transparent;
}


/*grey line on top of .spacer*/

.topSpacer {
    width: 100%;
    height: 15px;
    background: rgb(0, 115, 51);
}


/*star pages (vertical carousel)*/

.vCarousel {
    height: 708px;
    width: 100%;
    overflow: hidden;
}

.imgContainer {
    transition: all 1s;
}

.carouselImg {
    width: 100%;
    height: 708px;
    display: block;
}


/*sidebar/terucolo (static image throughout app)*/

.sidebarImg {
    background: url('../img/sidebar.jpg') no-repeat 0 0%;
    z-index: 10;
    top: 50%;
    right: -36px;
    height: 351px;
    width: 244px;
    transform: translateY(-50%) scale(0.5);
    position: absolute;
    transition: all 1s;
}

.terucolo {
    width: 202px;
    height: 260px;
    background: url('../img/Sprite-Terucolo.gif') no-repeat 0 0%;
    left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
}


/*video stuff*/

.video {
    position: relative;
    display: inline-block;
}

.customHide {
    opacity: 0;
    visibility: hidden;
}

.videoOverlay {
    background: #eee;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.playButton {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background: #ddd;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-right {
    width: 0;
    height: 0;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #009a44;
}

.infoMessage {
    background: #ddd;
    box-shadow: 0 0 8px #555;
    border-radius: 5px;
    color: #555;
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.infoMessageShow {
    opacity: 1;
    visibility: visible;
}


/*static container*/

.container {
    height: 681px;
    margin: 32px 54px 55px 40px;
    position: relative;
    overflow: hidden;
    transition: all .25s;
}

.containerHide {
    margin: 0;
    height: 768px;
    width: 1024px;
}


/*centering stuff inside container*/

.containerInfoImg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/*img fade in*/

.logo {
    position: absolute;
    top: 32px;
    left: 88px;
    width: 84px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.imgFadeIn {
    opacity: 0;
    visibility: hidden;
    transition: all 2s;
}

.fadeIn {
    position: absolute;
    opacity: 0;
    transition: all .5s;
}

.showImg {
    opacity: 1;
    visibility: visible;
}


/*text fade in*/

.textbox {
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
    transition: all 2s;
}

.showText {
    opacity: 1;
}

.horizontalSwipe {
    height: 681px;
    overflow: hidden;
    width: 930px;
}

.horizontalSwipeContainer {
    height: 681px;
    width: 930px;
    float: left;
}


/*terucolo popups*/

.popupInfo {
    top: 125px;
    right: 20px;
    position: absolute;
    width: 200px;
    transition: all .25s;
    z-index: 2000000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
}

.widePopup {
    position: absolute;
    transition: all .25s;
    top: 50%;
    transform: translateY(-50%);
    right: 150px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
}

.inlinePopup {
    float: left;
    margin-left: -4px;
}

.inlinePopupContent {
    float: left;
    border-top: 1px solid;
    border-bottom: 4px solid;
    height: 560px;
    width: 310px;
    background: #fff;
}

.widePopup img {
    height: 560px;
}

.popupShow {
    opacity: 1;
    visibility: visible;
}

.popupInfo img {
    display: block;
    width: 200px;
}

.popupInfoContent {
    border-left: 1px solid;
    border-right: 4px solid;
    background: #fff;
    padding: 0 5%;
    font-size: 1.25em;
}

.hideButton {
    background: rgb(218, 229, 242);
    border-radius: 16px;
    bottom: 35px;
    display: inline-block;
    padding: 6px 12px;
    position: absolute;
    right: 35px;
}


/*numberpager*/

.numberPagerContainer {
    position: absolute;
    top: 34px;
    left: 38px;
    transition: all 1s;
}

.number {
    border-radius: 10px;
    color: #fff;
    float: left;
    font-size: 1.75em;
    margin-right: 15px;
    margin-top: 15px;
    padding: 12px 14px;
    text-align: center;
    background: rgb(137, 137, 137);
    transition: all .75s;
}

.numberPager .activeBlue {
    background: rgb(68, 126, 188);
}

.numberPager .activePurple {
    background: rgb(171, 103, 186);
}

.numberPager .expired {
    background: rgba(137, 137, 137, 0.5);
}


/*footer star/circle position pager*/

.footerPager {
    bottom: 0;
    left: 50%;
    height: 55px;
    padding: 10px 0;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.5s;
    z-index: 10;
    width: 700px;
}

.pagerIcon {
    padding: 2.5px 10px;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(180, 183, 186);
}

.starIcon {
    font-size: 2em !important;
}

.circleIcon {
    font-size: 1em !important;
}

.iconActive {
    color: rgb(122, 201, 67);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(173, 231, 150);
}


/*center text*/

.centerText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


/*games*/

.gameImg {
    transform: scale(0.5);
    position: absolute;
    top: 440px;
}


/*down click button*/

.downClick {
    position: absolute;
    left: 50%;
    height: 52px;
    width: 52px;
    bottom: 82px;
    transform: translateX(-50%);
}